---
import Parser from 'rss-parser';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
const parser = new Parser();
const feed = await parser.parseURL('https://feeds.elpais.com/mrss-s/pages/ep/site/elpais.com/section/tecnologia/portada'); 
---
<Layout>
  <section class="portada">
    {feed.items.map((item, index) => (
      <div class={`noticia-${index}`}>
        <Card titular={item.title} bajada={item.contentSnippet} enlace={item.link} periodista={item.creator}/>
      </div>
  ))}
  </section>
</Layout>


<style>
  .portada {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 1rem;
   width: 100%
 }



 @media (min-width: 1024px) {
       
   
   .portada {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 1.5rem;
   padding: 1rem 0;
   margin-bottom: 1rem;
   height: auto;
   width: 80%;
}
 
 }
</style>